.head {
  text-align: center;
  color: white;
  padding-top: 1rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 50px;
}

.text {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  padding-right: 6rem;
}

.text1 {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  padding-right: 3.5rem;
}

.text2 {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  padding-left: 2.3rem;
}

.img_1 {
    box-shadow: 0 0 0 0;
    border-radius: 20px;
    height: 300px;
    margin-left: 2.5rem;
    transition: transform 0.2s;
}

.img_1:hover,
.img_1:active {
  transform: scale(1.1);
}

.img_2{
    box-shadow: 0 0 0 0;
    border-radius: 20px;
    height: 300px;
    margin-left: 4rem;
    transition: transform 0.2s;
}

.img_2:hover,
.img_2:active {
  transform: scale(1.1);
}

.img_3{
    box-shadow: 0 0 0 0;
    border-radius: 20px;
    height: 300px;
    margin-left: 6rem;
    transition: transform 0.2s;
}

.img_3:hover,
.img_3:active {
  transform: scale(1.1);
}
