.title_bar {
  text-align: center;
  color: white;
  margin-top: 10rem;
  padding-top: 18rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  color: #fff;
  margin-left: 3rem;
}

.card p {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 2rem;
  background-color: #fff;
  color: #000;
  width: 80%;
  font-size: 1.2rem;
}
