.title {
  color: white;
  text-align: center;
  padding: 3rem;
}

.featuresList {
  color: white;
  font-size: 1.5rem;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.featuresList li {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  width: 80%;
  cursor: pointer;
  transition: transform 0.2s;
}

.featuresList li:hover,
.featuresList li:active {
  transform: scale(1.1);
}
